html
    body
        table
            tr
                th User ID
                th Name
                th Email
                th Age
            tr
                form(action=`/edit/${user.uid}` method="post")
                    td
                        input(placeholder="UserID" type="text" name="id" value=user.id)
                    td
                        input(placeholder="Name" type="text" name="name" value=user.name)
                    td
                        input(placeholder="Email" type="text" name="email" value=user.email)
                    td
                        input(placeholder="Age" type="text" name="age" value=user.age)
                    td
                        input(type="submit" value="Save")
        a(href="/userListing") Cancel
